a.card:hover
{
    text-decoration: none;
    border-color: #343a40;
}

.track-item, .track-container
{
    width: 64px;
    height: 64px;
}

.track-item-selection-box
{
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    opacity: 0.9;
}

.track-item-selection-box > .track-item:hover
{
    background-color: #cce5ff;
}

.track-item-modal
{
    z-index: 100;
}

.track-container.dragover
{
    background-color: #d4edda;
}
.track-container.dragover.busy
{
    background-color: #fff3cd;
}
.track-item.dragover
{
    background-color: #d4edda;
}
.track-item[class*="no-view-"]
{
    background-color: #fff3cd;
}
.track-item[class*="no-state-"]
{
    background-color: #f8d7da;
}
