a.card:hover
{
    text-decoration: none;
    border-color: #343a40;
}

.track-item, .track-container
{
    width: 64px;
    height: 64px;
}

.track-item-selection-box
{
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    opacity: 0.9;
}

.track-item-selection-box > .track-item:hover
{
    background-color: #cce5ff;
}

.track-item-modal, .route-modal
{
    z-index: 100;
}

.track-container.dragover
{
    background-color: #d4edda;
}
.track-container.dragover.busy
{
    background-color: #fff3cd;
}
.track-item.dragover
{
    background-color: #d4edda;
}
.track-item.no-view
{
    background-color: #fff3cd;
}
.track-item[class*="no-state-"]
{
    background-color: #f8d7da;
}
.route
{
    background-color: #e2e3e5;
}
.route.active
{
    background-color: #bdbebf;
}
.route.active:hover
{
    background-color: #979899;
}
.route.active.unique, .route.unique
{
    background-color: #d4edda;
}
.accept
{
    background-image: url("/img/accept.png");
    background-size: cover;
}
.decline
{
    background-image: url("/img/decline.png");
    background-size: cover;
}
